* {
    /* margin: 0; */
    /* padding: 0; */
    scroll-behavior: smooth;
    box-sizing: border-box;
}

/* Start components */
:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
}

ul {
    list-style: none;
}

body {
    font-family: 'Cairo', sans-serif;
    background-color: #444442;
    margin: 0;
    padding: 0;
}

.main-title {
    margin: 50px auto 50px;
    padding: 0px 50px;
    text-align: center;
    text-transform: uppercase;
    width: fit-content;
    border-radius: 10px;
    text-shadow: 1px 1px 2px var(--bs-gray-dark);
    width: 100%;
    font-family: 'Poppins', sans-serif, 'arial';
    font-weight: 600;
    font-size: 72px;
    color: white;
    text-align: center;
}

.main-title h1 {
    font-family: 'Poppins',
        sans-serif,
        'arial';
    font-weight: 600;
    font-size: 72px;
    color: white;
    text-align: center;
}

@media (max-width:767px) {
    .main-title h1 {
        padding: 0;
    }
}

.main-title h1 {
    text-shadow: 0px 0px 5px white;
}

@media (max-width:767px) {
    .main-title h1 {
        font-size: 40px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

/* End components */

.nav {
    background-color: #252525;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    box-shadow: 0px 1px 5px black;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1111;
}

@media (max-width: 767px) {
    .nav {
        padding: 0 30px;
    }
}

.nav .logo a {
    overflow: hidden;
    display: block;
}

.nav .logo img {
    bottom: -35px;
    position: relative;
    margin-left: 10px;
    width: 200px;
    height: 26px;
    animation: pop-up .5s forwards;
}

@keyframes pop-up {
    0% {
        bottom: -35px;
    }

    100% {
        bottom: 0;
    }
}

.nav .links {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

@media (max-width: 767px) {
    .nav .links {
        display: none;
    }
}

.nav .links li {
    font-size: 18px;
    margin-right: 30px;
    position: relative;
    padding: 13px 5px;

}

.nav .links li a {
    padding: 13px 5px;
    text-decoration: none;
    color: white;
    transition: all 0.3s;
}

@media (max-width: 500px) {
    .nav .links li a {
        font-size: 11px;
    }
}

.nav .links li a:hover {
    color: white;
    text-shadow: 0px 0px 5px var(--bs-orange),
        0px 0px 5px var(--bs-orange);
}

.nav .menu-bar {
    display: none;
    font-size: 22px;
    color: #fffbf2;
    cursor: pointer;
}

.nav .links:target {
    display: block;
    position: absolute;
    right: 20px;
    top: 53px;
    background-color: #252525;
    padding: 0 10px;
    width: 40%;
}

.nav .close-bar {
    display: none;
    font-size: 22px;
    cursor: pointer;
    position: absolute;
    right: 30px;
    width: 100%;
}

.nav .close-bar .bar {
    color: #fffbf2;
    position: absolute;
    right: 0;
    top: -20.5px;
}


.nav .close-bar:target {
    display: block;
    color: red;
}

@media (min-width: 767px) {
    .nav .close-bar:target {
        display: none;
    }
}

.nav .close-bar .drop-links {
    position: absolute;
    right: -30px;
    background-color: #252525;
    padding: 20px;
    width: 80%;
    top: 33px;
    height: 100vh;
    margin: 0;
    cursor: auto;
    animation: move-in 1s;
}

@keyframes move-in {
    from {
        right: -85%;
    }

    to {
        right: -30px;
    }
}

@media (min-width: 767px) {
    .nav .close-bar .drop-links {
        display: none;
    }
}

.nav .close-bar .drop-links li {
    padding-top: 10px;
    transition: 0.3s;
    cursor: pointer;
}

.nav .close-bar .drop-links li:hover {
    color: white;
    text-shadow: 0px 0px 5px var(--bs-orange),
        0px 0px 5px var(--bs-orange);
    transform: translateX(5px);
}

.nav .close-bar .drop-links li:not(:last-child) {
    border-bottom: 1px solid var(--bs-gray-dark);
}

.nav .close-bar .drop-links a {
    color: white;
    text-decoration: none;
    width: 100%;
    display: block;
}


@media (max-width: 767px) {
    .nav .menu-bar {
        display: block;
    }
}

.layout .home {
    background-image: url(../img/homee.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    position: relative;
    color: white;
    text-transform: uppercase;
    background-position: 0%;
    z-index: 11;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.layout .home::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: hsla(0, 0%, 0%, 0.7);
    z-index: -1;
}

.layout .home .content {
    text-align: center;
    width: 100%;
}

.layout .home h1 {
    font-size: 100px;
    margin: 100px 0 20px;
    line-height: 1;
    background-color: rebeccapurple;
}

.layout .home p {
    font-size: 20px;
    width: 60%;
    margin: 40px auto;
}

@media (max-width: 768px) {
    .layout .home h1 {
        font-size: 70px;
    }

    .layout .home p {
        font-size: 15px;
    }
}

.layout .home .button {
    font-size: 20px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    background-color: var(--bs-danger);
    cursor: pointer;
    padding: 20px 70px;
    border: none;
    border-radius: 10px;
    transition: all 0.3s;
}

@media (max-width:767px) {
    .layout .home .button {
        font-size: 15px;
        padding: 15px 30px;
    }
}

.layout .home .button:hover {
    color: var(--bs-danger);
    background-color: white;
}


.layout .about {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(../img/about.png);
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    background-size: cover;
    height: 50vh;
    position: relative;
    overflow: auto;
    text-align: center;
    color: white;
    z-index: 1;
}

.layout .about::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: -1;
}

.layout .about .header {
    color: white;
}

.layout .about .container p {
    font-size: 20px;
}



/* ///// contacts /////*/

.contact-us {
    margin-bottom: 100px;
}

.contact-us .input-container {
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

@media (max-width: 950px) {
    .contact-us .input-container {
        width: 80%;
    }
}

.contact-us .input-container .row {
    position: relative;
    width: 100%;

}

.contact-us .input-container .row input,
.contact-us .input-container .row textarea {
    background-color: #2d2d2d;
    border: none;
    outline: none;
    padding: 20px;
    color: white;
    font-size: 1rem;
    border-radius: 6px;
    width: 100%;
}

.contact-us .input-container .row input:focus~label,
.contact-us .input-container .row textarea:focus~label {
    top: 0;
    left: 10px;
    font-size: 13px;
}

.contact-us .input-container .styled {
    position: relative;
    width: calc(50% - 10px);
}

@media (max-width: 600px) {
    .contact-us .input-container .styled {
        width: 100%;
    }
}

.contact-us .input-container .styled input {
    background-color: #2d2d2d;
    border: none;
    padding: 20px;
    color: white;
    font-size: 1rem;
    border-radius: 6px;
    width: 100%;
}

.contact-us .input-container .row textarea {
    height: 200px;
}

.contact-us .input-container .row label {
    color: #999;
    position: absolute;
    left: 20px;
    top: 14px;
    transition: 0.3s;
    cursor: text;
    user-select: none;
}

.contact-us .input-container input[type='submit'] {
    padding: 10px 25px;
    border: none;
    border-radius: 60px;
    background-color: #4b8cfb;
    color: white;
    font-size: 15px;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06),
        0 2px 10px 0 rgba(0, 0, 0, 0.07);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    margin-left: auto;
}

.contact-us .input-container input[type='submit']:hover {
    transform: translateY(1px);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.10),
        0 1px 1px 0 rgba(0, 0, 0, 0.09);
    background-color: white;
    color: #4b8cfb;
}

/* ///// contacts /////*/


footer {
    width: 100%;
    background-color: var(--bs-gray-900);
    color: white;
    text-align: center;
    padding: 30px 0;
}

footer span {
    display: block;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 10px;
    text-shadow: 0px 0px 5px white;
}

footer .info {
    width: fit-content;
    margin: 0 0 0 100px;

}

footer .info a {
    color: white;
    text-decoration: none;
    transition: all 0.3s;
    text-align: left;
    margin: 5px 0;
    display: block;
}

footer .info a:hover {
    color: var(--bs-gray-500);
}

footer .info a i {
    font-size: 22px;
    margin-right: 5px;
    display: inline-block;
}

footer .info a .facebook {
    color: #1877f2;
}

footer .info a .whatsapp {
    color: #25d366;
}

footer .info a .phone {
    color: white;
    cursor: pointer;
}

/* start products */

.products {
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.products .main-title {
    margin: 120px auto 0;
    padding: 0;
}

.products .container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    flex-wrap: wrap;
    height: 100vh;
    gap: 20px;
    width: 90%;
    margin: 0 auto;
    transform: translateY(10%);
}

.products .container>div {
    background-color: var(--bs-dark);
    border-radius: 6px;
    padding: 10px;
    overflow: hidden;
    position: relative;
    width: 400px;
}

.products .container>div .image {
    width: 100%;
}

.products .container>div .image img {
    max-width: 100%;
    transition: 0.3s;
}

.products .container>div:hover img {
    transform: scale(1.2) rotate(-2deg);
}

.products .container>div .text p {
    color: white;
    position: absolute;
    bottom: -25px;
    font-size: 13px;
    background-color: var(--bs-dark);
    width: 100%;
    left: 0;
    padding-left: 13px;
    height: 25px;
    transition: 0.5s;
}

.products .container>div:hover .text p {
    bottom: 0;
}

.products .container>div .text p {
    margin: 0;
}

.products .container>div .text a i {
    position: absolute;
    font-size: 0px;
    top: 15px;
    right: 15px;
    color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.products .container>div .text a i::after {
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    width: 25px;
    height: 25px;
    background-color: var(--bs-dark);
    border-radius: 50%;
    transition: 0.5s 0.3s;
    transform: scale(0);
    z-index: -1;
}

.products .container>div:hover .text a i,
.products .container>div:hover .text a i::after {
    transform: scale(1);
    font-size: 16px;
}

.products .container>div .text a i:hover::after {
    width: 100px;
    border-radius: 6px;
}

.products .container>div .text a i span {
    opacity: 1;
    transition: 0.5s 0.3s;
    position: absolute;
    width: 60px;
    font-size: 12px;
    right: 28px;
    overflow: hidden;
    text-indent: 100px;
    text-wrap: nowrap;
}

.products .container>div .text a i:hover span {
    opacity: 1;
    text-indent: 1px;
}

/* end products */

/* Start case Details */
.case-details {
    height: 100vh;
}

.case-details .container {
    height: 100%;
    display: flex;
    align-items: center;
}

.case-details .container .case {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: var(--bs-white);
    text-align: right;
    margin: 0 auto;
    width: 80%;
    padding: 20px;
    border-radius: 6px;
}

@media (max-width: 950px) {
    .case-details .container .case {
        flex-direction: column;
        width: 100%;
        height: calc(100% - 71px);
        transform: translateY(36px);
        text-align: left;
    }
}

.case-details .container .case .image {
    width: 50%;
    overflow: hidden;
}

@media (max-width: 950px) {
    .case-details .container .case .image {
        width: 100%;
    }
}

.case-details .container .case .image img {
    width: 100%;
    transform: scale(104%) translateY(4px);
}

.case-details .container .case .info {
    flex: 1;
    width: 100%;
}

.case-details .container .case .header {
    font-weight: bold;
    font-size: 20px;
}

.case-details .container .case .details span {
    display: block;
}

.case-details .container .case .info button {
    font-weight: bold;
    color: white;
    background-color: var(--bs-danger);
    border: none;
    border-radius: 50px;
    padding: 6px 23px;
    transition: 0.3s ease-in-out;
    box-shadow: 0px 2px 6px hwb(0deg 0% 100% / 68%);
}

.case-details .container .case .info button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/* End case Details */

/* Start Tableau Details */
.tableau-details {
    height: calc(100vh + 59px);
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 950px) {
    .tableau-details {
        height: 100%;
        margin-top: 70px;
    }
}

.tableau-details .container {
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    text-align: right;
    gap: 20px;
    background-color: var(--bs-white);
    padding: 20px;
    border-radius: 6px;
}

@media (max-width: 950px) {
    .tableau-details .container {
        flex-direction: column;
        width: 100%;
    }
}


.tableau-details .container .image img {
    width: 400px;
}

@media (max-width: 950px) {
    .tableau-details .container .image img {
        width: 100%;
    }
}


.tableau-details .container .info .header {
    font-weight: bold;
    font-size: 30px;
    margin: 10px 0;
}

.tableau-details .container .info .text {
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    line-height: 1.5;
}

@media (max-width: 950px) {
    .tableau-details .container .info .text {
        flex-direction: column;
    }
}

.tableau-details .container .info .header span {
    font-weight: bold;
    font-size: 20px;
}

.tableau-details .container .info .title {
    margin: 10px 0;
}

.tableau-details .container .info .title span {
    display: block;
    font-weight: bold;
    font-size: 20px;
}

.tableau-details .container .info .caption {
    display: block;
    font-weight: bold;
    font-size: 20px;
    margin: 10px 0;
}

.tableau-details .container .info .caption span {
    display: block;
    line-height: 1;
    font-weight: normal;
    font-size: 20px;
}

.tableau-details .container .info .details {}

.tableau-details .container .info .details .detail {
    font-weight: bold;
    margin: 5px 0;
}

.tableau-details .container .info .details span {
    display: block;
    line-height: 1.2;
}

.tableau-details .container .info button {
    font-weight: bold;
    color: white;
    background-color: var(--bs-danger);
    border: none;
    border-radius: 50px;
    padding: 6px 23px;
    transition: 0.3s ease-in-out;
    box-shadow: 0px 2px 6px hwb(0deg 0% 100% / 68%);
    margin-top: 10px;
}

/* EndTableau Details */

/* start cover */
.layout .cover {
    padding: 20px;
    position: relative;
}

.layout .cover .main-title {
    margin-top: 110px;
}

.layout .cover .whatsapp {
    position: fixed;
    bottom: 20px;
    left: 25px;
    color: white;
    text-shadow: 0px 0px 5px #25d366,
        0px 0px 5px #25d366,
        0px 0px 5px #25d366;
    transition: .3s;
    animation: appear 1s 5s forwards;
    opacity: 0;
    z-index: 1;
}

@keyframes appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


.layout .cover .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.layout .cover .box {
    background-color: var(--bs-dark);
    border-radius: 6px;
    overflow: hidden;
    text-align: center;
    color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px var(--bs-gray);
}

.layout .cover .image img {
    max-width: 100%;
}

.layout .cover .box .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
}


.layout .cover .box .info p {
    font-weight: bold;
    font-size: 20px;
    margin: 0;
    letter-spacing: 1px;
}

.layout .cover .box .info .first {
    margin: 3px 0px;
}

.layout .cover .box .info .second {
    text-decoration: underline;
}

.layout .cover .box .btn {
    margin: 5px;
    background-color: rgb(255, 255, 255);
    color: var(--bs-danger);
    width: 50%;
    padding: 0px 5px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s;
    text-decoration: none;
}

.layout .cover .box .btn:hover {
    background-color: var(--bs-danger);
    color: rgb(255, 255, 255);
}

/* end cover */
/* Start buy section */
.layout .cover .buy-fields {
    position: fixed;
    left: 50%;
    top: calc(50% + 55px);
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.layout .cover .buy-fields:target {
    transition: 0.5s;
    display: flex;
}

.layout .cover .buy-fields .buy-field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 480px;
    border: none;
    margin: auto;
    border: 1px solid var(--bs-gray-100);
    border-radius: 6px;
    padding: 20px;
    color: wheat;
    position: relative;
    backdrop-filter: blur(14px);
    animation: fade 0.5s;
}



.layout .cover .buy-fields .buy-field .row {
    width: 100%;
}

.layout .cover .buy-fields .buy-field .row label {
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-bottom: 20px;
}

.layout .cover .buy-fields .buy-field .row label span {
    margin-bottom: 5px;
}

.layout .cover .buy-fields .buy-field .row label span,
.layout .cover .buy-fields .buy-field .row label input,
.layout .cover .buy-fields .buy-field .row label select {
    cursor: pointer;
}

.layout .cover .buy-fields .buy-field .row label input {
    text-align: center;
}

.layout .cover .buy-fields .buy-field .row label input,
.layout .cover .buy-fields .buy-field .row label select {
    padding: 15px 10px;
    border-radius: 6px;
    background-color: var(--bs-dark);
    color: white;
    border: none;
    box-shadow: 0px 1px 1px #f5deb36e;
    outline: none;
}

.layout .cover .buy-fields .buy-field .row input[type='submit'] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 3px;
    cursor: pointer;
    transition: 0.3s;
}

.layout .cover .buy-fields .buy-field .row input[type='submit']:hover {
    box-shadow: 0px 0px 5px white;
}

.layout .cover .buy-fields .buy-field .close-icon {
    position: absolute;
    text-decoration: none;
    color: white;
    font-size: 40px;
    top: 10px;
    left: 10px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.layout .cover .buy-fields .buy-field .close-icon:hover {
    color: var(--bs-gray-500);
}

@keyframes fade {
    from {
        top: -100px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

/* End buy section */

/* start tableau */
.tableau {
    background-color: var(--bs-gray-500);
}

.tableau .main-title {
    margin-top: 0;
}

.tableau .main-title h1 {
    padding-top: 115px;
    text-shadow: 0px 0px 5px white;
    filter: drop-shadow(0px 4px 1px black);
}

.tableau .container {}


.tableau .container .top-con {
    background-color: var(--bs-gray-500);
}

.tableau .container .top-con h4 {
    text-align: center;
    color: var(--bs-gray-200);
    font-size: 25px;
    padding-bottom: 20px;
    text-shadow: 0px 1px 3px var(--bs-gray-dark);
}

.tableau .container .top-con .our-design {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.tableau .container .top-con .our-design .box img {
    width: 100%;
    box-shadow: 0px 1px 10px rgb(0 0 0 / 0.1);
    transition: 0.3s;
}

.tableau .container .top-con .our-design .box img:hover {
    transform: translateY(-5px);
    box-shadow: 0px 1px 10px rgb(0 0 0 / 0.4);
}


.tableau .container .top-con .digital-art {
    background-image: url(../img/tablue-bg.jpg);
    background-size: 100%;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
    padding-bottom: 100px;
}

.tableau .container .top-con .digital-art::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.tableau .container .top-con .digital-art h4 {
    padding-top: 50px;
    letter-spacing: 1px;
    text-shadow: 0px 0px 3px white;
}

.tableau .container .top-con .digital-art .title {
    text-align: center;
    color: white;
}

.tableau .container .top-con .digital-art .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.tableau .container .top-con .digital-art .cards .box {
    background-color: var(--bs-dark);
    border-radius: 6px;
    overflow: hidden;
    transition: 0.3s;
}

.tableau .container .top-con .digital-art .cards .box:hover {
    transform: scale(1.06);
}


.tableau .container .top-con .digital-art .cards .box img {
    width: 100%;
}

.tableau .container .top-con .digital-art .text {
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.5px;
}

.tableau .container .top-con .digital-art .text a {
    text-decoration: none;
    color: navajowhite;
    background-color: var(--bs-danger);
    padding: 5px 30px;
    font-size: 15px;
    display: block;
    width: fit-content;
    margin: 10px auto 0;
    border-radius: 50px;
    transition: 0.3s;
    animation: shadow 2s infinite alternate;

}

@keyframes shadow {
    from {
        box-shadow: 0px 0px -1px white;
    }

    to {
        box-shadow: 0px 1px 10px white;

    }
}

.tableau .container .top-con .digital-art .text a:hover {
    transform: scale(1.1);
    background-color: #db4f5d;
}

.tableau .container .top-con .digital-art .buy-fields {
    position: fixed;
    left: 50%;
    top: calc(50% + 55px);
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.tableau .container .digital-art .buy-fields:target {
    transition: 0.5s;
    display: flex;
}

.tableau .digital-art .buy-fields .buy-field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    /* height: 480px; */
    border: none;
    margin: auto;
    border: 1px solid var(--bs-gray-100);
    border-radius: 6px;
    padding: 20px;
    color: wheat;
    position: relative;
    backdrop-filter: blur(14px);
    animation: fade 0.5s;
}

.tableau .digital-art .buy-fields .buy-field .row {
    width: 100%;
}

.tableau .digital-art .buy-fields .buy-field .row label {
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-bottom: 20px;
}

.tableau .digital-art .buy-fields .buy-field .row label span {
    margin-bottom: 5px;
}

.tableau .container .digital-art .buy-fields .buy-field .row label span,
.tableau .container .digital-art .buy-fields .buy-field .row label input select {
    cursor: pointer;
}

.tableau .digital-art .buy-fields .buy-field .row label input {
    text-align: center;
}

.tableau .digital-art .buy-fields .buy-field .row label input,
.tableau .digital-art .buy-fields .buy-field .row label select {
    padding: 15px 10px;
    border-radius: 6px;
    background-color: var(--bs-dark);
    color: white;
    border: none;
    box-shadow: 0px 1px 1px #f5deb36e;
    outline: none;
}

.tableau .digital-art .buy-fields .buy-field .row label select {
    cursor: pointer;
}

.tableau .digital-art .buy-fields .buy-field .row input[type='submit'] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 3px;
    cursor: pointer;
    transition: 0.3s;
}

.tableau .digital-art .buy-fields .buy-field .row input[type='submit'] {
    box-shadow: 0px 0px 5px white;
}

.tableau .digital-art .buy-fields .buy-field .close-icon {
    position: absolute;
    text-decoration: none;
    color: white;
    font-size: 40px;
    top: 10px;
    left: 10px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.tableau .digital-art .buy-fields .buy-field .close-icon:hover {
    color: var(--bs-gray-500);
}

/* end tablue */